*{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6A99D;
    flex-direction:column;
}
.button{ 
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #9CAFAA;
    background-color: #FBF3D5;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    margin: 5px;
}                 
.button:hover {
    color: #9CAFAA;
    background-color: #eae3c7;
}
                
